/* General form container styling */
.form-container {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.85);
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

/* Heading styling */
.container h2 {
  text-align: center;
  color: #222;
  font-size: 28px;
  margin-bottom: 20px;
}

.container h2 span {
  color: #A62B1F;
  font-weight: bold;
}

/* Label styling for form inputs */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

/* Input, textarea, and select element styling */
input, textarea, select {
  width: 100%;
  padding: 12px;
  resize: vertical;
  margin-bottom: 20px;
  border: 1px solid #cccccc6e;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
  font-family: 'Verdana', sans-serif;
}

/* Focus effect for inputs and textareas */
input:focus, textarea:focus, select:focus {
  border-color: #015c5d;
  box-shadow: 0 0 4px #a7f3d0;
  filter: brightness(1.2);
}

/* Special background color for the patient name input */
#patientName {
  background-color: #bdbcbc80;
}

/* Button styles */
.btn-primary {
  background-color: #047857;
  color: #fff;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Hover effect for primary button */
.btn-primary:hover {
  background-color: #065f46;
}

/* Secondary button styles */
.btn-secondary {
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect for secondary button */
.btn-secondary:hover {
  background-color: #333;
  color: #fff;
}

/* Keyframe for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile responsive styling */
@media (max-width: 600px) {
  .form-container {
    padding: 20px;
    margin: 15px;
  }

  .container h2 {
    font-size: 24px;
  }

  input, textarea, select {
    padding: 10px;
    font-size: 14px;
  }

  .btn-primary, .btn-secondary {
    padding: 12px;
    font-size: 14px;
  }
}
